Repository scipy-conference/scipy_proceedings, pull requests merged in 2022-07, with the labels that each got.

#682 Paper: pyAudioProcessing: Audio Processing, Feature Extraction and Building Machine Learning Models
  papers/jyotika_singh/S1_Fig.png
  papers/jyotika_singh/S2_Fig.png
  papers/jyotika_singh/S3_Fig.png
  papers/jyotika_singh/S4_Fig.png
  papers/jyotika_singh/S5_Fig.png
  papers/jyotika_singh/S6_Fig.png
  papers/jyotika_singh/chroma_speech.png
  papers/jyotika_singh/gfcc_speech.png
  papers/jyotika_singh/jsingh.rst
  papers/jyotika_singh/mfcc_speech.png
  papers/jyotika_singh/mybib.bib
  papers/jyotika_singh/spectral_speech.png
  papers/jyotika_singh/temporal_speech.png
Labels: ready, paper

#685 Paper: Utilizing SciPy and other open source packages to provide a powerful API for materials manipulation in the Schrödinger Materials Suite
  papers/alexandr_fonari/alexandr_fonari.rst
  papers/alexandr_fonari/fig_al.png
  papers/alexandr_fonari/fig_al_plot.png
  papers/alexandr_fonari/fig_job_scheme.png
  papers/alexandr_fonari/fig_product.png
  papers/alexandr_fonari/fig_scheme.png
  papers/alexandr_fonari/fig_stress_strain.png
  papers/alexandr_fonari/refs.bib
Labels: ready, paper

#689 Paper: Python for Global Applications
  papers/anna_haensch/Fletcher_Course_Outline.png
  papers/anna_haensch/Fletcher_Course_Rubric.png
  papers/anna_haensch/paper.rst
  papers/anna_haensch/student_motivations.png
  papers/anna_haensch/student_priors.png
Labels: ready, paper

#692 Paper: Analysis of genetic and climatic data of SARS-CoV-2
  papers/nadia_tahiri/00_bibderwalt.rst
  papers/nadia_tahiri/Fig1.jpeg
  papers/nadia_tahiri/Fig1.png
  papers/nadia_tahiri/Fig2.png
  papers/nadia_tahiri/Fig3.png
  papers/nadia_tahiri/Fig4.png
  papers/nadia_tahiri/mybib.bib
Labels: ready, paper

#693 Paper: Semi-Supervised Semantic Annotator (S3A): Toward Efficient Semantic Image Labeling
  papers/221_jessurun/221_jessurun.rst
  papers/221_jessurun/figures/appOverview.jpg
  papers/221_jessurun/figures/complexRegion.jpg
  papers/221_jessurun/figures/cropExports.jpg
  papers/221_jessurun/figures/feedbackLoop.pdf
  papers/221_jessurun/figures/funcIntegration.pdf
  papers/221_jessurun/figures/makefigs.tex
  papers/221_jessurun/figures/makefigssanitized.tex
  papers/221_jessurun/figures/metadata.jpg
  papers/221_jessurun/figures/pcb.jpg
  papers/221_jessurun/figures/regionAnalytics.jpg
  papers/221_jessurun/figures/regionEdit.jpg
  papers/221_jessurun/figures/sampleSegData.jpg
  papers/221_jessurun/main.tex
  papers/221_jessurun/rebuild.py
  papers/221_jessurun/references.bib
  papers/221_jessurun/sections/casestudy.tex
  papers/221_jessurun/sections/conclusion.tex
  papers/221_jessurun/sections/intro.tex
  papers/221_jessurun/sections/methods.tex
  papers/221_jessurun/sections_rst/casestudy.rst
  papers/221_jessurun/sections_rst/conclusion.rst
  papers/221_jessurun/sections_rst/intro.rst
  papers/221_jessurun/sections_rst/methods.rst
  presentations/posters/221_jessurun/221_jessurun.pdf
  presentations/posters/221_jessurun/info.json
Labels: ready, paper

#696 Paper: Improving PyDDA's atmospheric wind retrievals using automatic differentiation and Augmented Lagrangian methods
  papers/robert_jackson/Example_storm.png
  papers/robert_jackson/auglag1.png
  papers/robert_jackson/auglag2.pdf
  papers/robert_jackson/auglag2.png
  papers/robert_jackson/augmented_lagrangian_updraft.png
  papers/robert_jackson/figure_updrafts.png
  papers/robert_jackson/florence_figure.png
  papers/robert_jackson/lbfgs2.pdf
  papers/robert_jackson/lbfgs2.png
  papers/robert_jackson/mybib.bib
  papers/robert_jackson/robert_jackson.rst
  papers/robert_jackson/weak_variational_updraft.png
Labels: ready, paper

#698 Paper: Design of a Scientific Data Analysis Support Platform
  papers/nathan_martindale/curifactory_orchestration.png
  papers/nathan_martindale/mybib.bib
  papers/nathan_martindale/nathan_martindale.rst
  papers/nathan_martindale/report_header.png
  papers/nathan_martindale/report_map.png
  papers/nathan_martindale/report_map_deep.png
  papers/nathan_martindale/report_reportables.png
Labels: ready, paper

#700 Paper: Papyri: Better documentation for the Scientific Ecosystem in Jupyter
  papers/bussonnier/automatic-gallery.png
  papers/bussonnier/diagramme.png
  papers/bussonnier/graphstore.png
  papers/bussonnier/graphstore.svg
  papers/bussonnier/jupyterlab-prototype.png
  papers/bussonnier/local-graph.png
  papers/bussonnier/ndarray-backreferences.png
  papers/bussonnier/papyri.rst
  papers/bussonnier/recup.svg
  papers/bussonnier/scipy-dpss-old-new.png
Labels: ready, paper

#702 Paper: popmon analysis package for dataset shift detection
  papers/popmon/logo.png
  papers/popmon/overview.pdf
  papers/popmon/popmon_paper.rst
  papers/popmon/prev_pearson_led.png
  papers/popmon/prev_pearson_sine1.png
  papers/popmon/ref_phik_pull.png
  papers/popmon/references.bib
  papers/popmon/report_overview.png
Labels: ready, paper

#705 Paper: Experience report of physics-informed neural networks in fluid simulations: pitfalls and frustration
  papers/PiYueh_Chuang/cylinder-cd-cl.png
  papers/PiYueh_Chuang/cylinder-petibm-contour-t200.png
  papers/PiYueh_Chuang/cylinder-pinn-contour-t200.png
  papers/PiYueh_Chuang/cylinder-pinn-training-convergence.png
  papers/PiYueh_Chuang/main.rst
  papers/PiYueh_Chuang/reference.bib
  papers/PiYueh_Chuang/tgv-petibm-contour-t32.png
  papers/PiYueh_Chuang/tgv-pinn-contour-t32.png
  papers/PiYueh_Chuang/tgv-pinn-training-convergence.png
  papers/PiYueh_Chuang/tgv-run-time-errors.png
  papers/PiYueh_Chuang/tgv-sim-time-errors.png
Labels: ready, paper

#706 Paper: Automatic random variate generation in Python
  papers/Tirth_Patel/bib.bib
  papers/Tirth_Patel/scipy_unuran.rst
Labels: ready, paper

#710 Paper: RocketPy: Combining Open-Source and Scientific Libraries to Make the Space Sector More Modern and Accessible
  papers/rocketpy_team/images/Fluxogram.png
  papers/rocketpy_team/images/SMoutput.png
  papers/rocketpy_team/images/apogeeAltitude.png
  papers/rocketpy_team/images/dynamicStability.png
  papers/rocketpy_team/images/ellipses.png
  papers/rocketpy_team/images/ellipsesNoTitle.png
  papers/rocketpy_team/images/flightTrajectory.png
  papers/rocketpy_team/images/outOfRailVelocity.png
  papers/rocketpy_team/paper.rst
  papers/rocketpy_team/references.bib
Labels: ready, paper

#715 Paper: Short `wailord` poster accompaniment
  papers/rohit_goswami_wailord/SciPyCon2022.bib
  papers/rohit_goswami_wailord/overviewWailord.jpg
  papers/rohit_goswami_wailord/plotH2A.png
  papers/rohit_goswami_wailord/rohit_goswami_wailord.rst
Labels: ready, paper

#722 Paper: Search for Extraterrestrial Intelligence: GPU Accelerated E.T. Search with TurboSETI
  papers/Luigi_Cruz/paper.rst
  papers/Luigi_Cruz/reference.bib
Labels: ready, paper

#723 Paper: Bayesian Estimation and Forecasting of Time Series in statsmodels
  papers/chad_fulton/causal_impact.png
  papers/chad_fulton/chad_fulton.rst
  papers/chad_fulton/gs_samples.png
  papers/chad_fulton/indpro_fcast.png
  papers/chad_fulton/indpro_level_trend.png
  papers/chad_fulton/mh_samples.png
  papers/chad_fulton/mybib.bib
  papers/chad_fulton/ssm_flowchart.png
Labels: ready, paper

#724 Paper: poliastro: a Python library for interactive Astrodynamics
  papers/juanluis_cano_poliastro/architecture.pdf
  papers/juanluis_cano_poliastro/architecture.svg
  papers/juanluis_cano_poliastro/enckes_method.pdf
  papers/juanluis_cano_poliastro/juanluis_cano_poliastro.rst
  papers/juanluis_cano_poliastro/leo-perturbations.png
  papers/juanluis_cano_poliastro/plotting_2D.png
  papers/juanluis_cano_poliastro/plotting_3D.png
  papers/juanluis_cano_poliastro/porkchop.pdf
  papers/juanluis_cano_poliastro/refs.bib
  papers/juanluis_cano_poliastro/tle.pdf
Labels: ready, paper

#727 Paper: A Python Pipeline for Rapid Application Development (RAD)
  papers/scott_christensen/images/bokeh_collective_sweep.png
  papers/scott_christensen/images/job_actions.png
  papers/scott_christensen/images/jobs_table.png
  papers/scott_christensen/images/jupyter_collective_sweep.png
  papers/scott_christensen/images/results_coviz.png
  papers/scott_christensen/images/results_tracking.png
  papers/scott_christensen/images/task_buttons.png
  papers/scott_christensen/images/tethys_collective_sweep.png
  papers/scott_christensen/rapid_application_development.rst
Labels: ready, paper

#733 Paper: Likeness: a toolkit for connecting the social fabric of place to human dynamics
  papers/james_gaboardi/figs/k12_10pub_student_knox_inset_side.png
  papers/james_gaboardi/figs/k12_student_profiles_resized_hori.png
  papers/james_gaboardi/figs/k12ed_occupancy_estimates_3r4c.png
  papers/james_gaboardi/figs/likeness_workflow.png
  papers/james_gaboardi/likeness.rst
  papers/james_gaboardi/references.bib
Labels: ready, paper

#701 Paper: Temporal Word Embeddings Analysis for Disease Prevention
  papers/nathan_jacobi_ivan_mo_albert_you/10_dim_umap.png
  papers/nathan_jacobi_ivan_mo_albert_you/full_data_umap.png
  papers/nathan_jacobi_ivan_mo_albert_you/hiv_plot.png
  papers/nathan_jacobi_ivan_mo_albert_you/mybib.bib
  papers/nathan_jacobi_ivan_mo_albert_you/paper.rst
  papers/nathan_jacobi_ivan_mo_albert_you/plot0.png
  papers/nathan_jacobi_ivan_mo_albert_you/plot17.png
Labels: ready, paper

#708 Paper: Boosting Task-Based Active Learning with Task-Agnostic Information Using a Variational Autoencoder
  papers/godwin_zain/algorithm_1.png
  papers/godwin_zain/chestmnist_coreset.png
  papers/godwin_zain/chestmnist_lp.png
  papers/godwin_zain/coreset_tsne.png
  papers/godwin_zain/coreset_vs_vae.png
  papers/godwin_zain/lp_vs_vae.png
  papers/godwin_zain/mnist_coreset.png
  papers/godwin_zain/mnist_lp.png
  papers/godwin_zain/paper.rst
  papers/godwin_zain/references.bib
  papers/godwin_zain/vae_tsne.png
Labels: ready, paper

#709 Paper: Pylira: deconvolution of images in the presence of Poisson noise
  papers/donath/donath-pylira.rst
  papers/donath/images/ms-levels.png
  papers/donath/images/pylira-chandra-gc.pdf
  papers/donath/images/pylira-diagnosis-pixel.pdf
  papers/donath/images/pylira-diagnosis.pdf
  papers/donath/images/pylira-fermi-gc.pdf
  papers/donath/images/richardson-lucy.png
  papers/donath/mybib.bib
  papers/donath/scripts/figure_lincoln_rl.py
  papers/donath/scripts/figure_ms_levels.py
Labels: ready, paper

#712 Paper: USACE Coastal Engineering Toolkit and a Method of Creating a Web-Based Application
  papers/Catlett_Amanda/UCET.rst
  papers/Catlett_Amanda/hierarchy.png
  papers/Catlett_Amanda/linear.png
  papers/Catlett_Amanda/panel-layout.png
  papers/Catlett_Amanda/ucet_warning_message.png
  papers/Catlett_Amanda/windspeed.png
Labels: ready, paper

#721 Paper: Galyleo: A General-Purpose Extensible Visualization Solution
  papers/72_galyleo/72_galyleo.rst
  papers/72_galyleo/dashboard_screenshot.png
  papers/72_galyleo/dataflow.png
  papers/72_galyleo/extension_architecture.png
  papers/72_galyleo/figure1.png
  papers/72_galyleo/galyleo.png
  papers/72_galyleo/galyleo_dataflow.png
  papers/72_galyleo/galyleo_remote_dataflow.png
  papers/72_galyleo/generations.png
  papers/72_galyleo/jupyterhub_screenshot.png
  papers/72_galyleo/lively-screenshot.png
  papers/72_galyleo/messaging_protocol.png
  papers/72_galyleo/mybib.bib
  papers/72_galyleo/new_dashboard.png
  papers/72_galyleo/open.png
Labels: ready, paper

#699 Paper: Low-Level Feature Extraction for Cilia Segmentation
  papers/zain_miller/cilia/ex1/comp_pred.png
  papers/zain_miller/cilia/ex1/mask.png
  papers/zain_miller/cilia/ex1/orig.png
  papers/zain_miller/cilia/ex1/pred.png
  papers/zain_miller/cilia/ex1/sae.png
  papers/zain_miller/cilia/ex1/sae_pred.png
  papers/zain_miller/cilia/ex1/zca.png
  papers/zain_miller/cilia/ex1/zca_pred.png
  papers/zain_miller/cilia/ex2/comp_pred.png
  papers/zain_miller/cilia/ex2/mask.png
  papers/zain_miller/cilia/ex2/orig.png
  papers/zain_miller/cilia/ex2/pred.png
  papers/zain_miller/cilia/ex2/sae.png
  papers/zain_miller/cilia/ex2/sae_pred.png
  papers/zain_miller/cilia/ex2/zca.png
  papers/zain_miller/cilia/ex2/zca_pred.png
  papers/zain_miller/cilia/ex3/comp_pred.png
  papers/zain_miller/cilia/ex3/mask.png
  papers/zain_miller/cilia/ex3/orig.png
  papers/zain_miller/cilia/ex3/pred.png
  papers/zain_miller/cilia/ex3/sae.png
  papers/zain_miller/cilia/ex3/sae_pred.png
  papers/zain_miller/cilia/ex3/zca.png
  papers/zain_miller/cilia/ex3/zca_pred.png
  papers/zain_miller/mask.png
  papers/zain_miller/orig.png
  papers/zain_miller/paper.rst
  papers/zain_miller/pred.png
  papers/zain_miller/refs.bib
  papers/zain_miller/sae.png
  papers/zain_miller/sae/2.png
  papers/zain_miller/sae/3.png
  papers/zain_miller/sae/4.png
  papers/zain_miller/sae/orig.png
  papers/zain_miller/sample_cilia.png
  papers/zain_miller/sbd.png
  papers/zain_miller/unet.png
  papers/zain_miller/unet_composite.png
  papers/zain_miller/unet_composite_trim.png
  papers/zain_miller/unet_only.png
  papers/zain_miller/unet_sae.png
  papers/zain_miller/unet_zca_trim1.png
  papers/zain_miller/zca.png
  papers/zain_miller/zca/4.png
  papers/zain_miller/zca/5.png
  papers/zain_miller/zca/6.png
  papers/zain_miller/zca/7.png
  papers/zain_miller/zca/orig.png
Labels: ready, paper

#717 Paper: The myth of the normal curve and what to do about it
  papers/allan_campopiano/cont_norm.png
  papers/allan_campopiano/mybib.bib
  papers/allan_campopiano/paper.rst
  papers/allan_campopiano/power.png
  papers/allan_campopiano/power_concat.png
  papers/allan_campopiano/sim.png
  papers/allan_campopiano/t.png
Labels: ready, paper

#681 Paper: Enabling Active Learning Pedagogy and Insight Mining with a Grammar of Model Analysis
  papers/zachary_delrosario/2d-projection.png
  papers/zachary_delrosario/corrtile.png
  papers/zachary_delrosario/example-sweep.png
  papers/zachary_delrosario/example.ipynb
  papers/zachary_delrosario/fit-sweep.png
  papers/zachary_delrosario/hull-schematic-stable.png
  papers/zachary_delrosario/hull-schematic-unstable.png
  papers/zachary_delrosario/kcv.csv
  papers/zachary_delrosario/moment-curve.png
  papers/zachary_delrosario/paper.rst
  papers/zachary_delrosario/references.bib
  papers/zachary_delrosario/student-sweep-focus.png
  papers/zachary_delrosario/student-sweep.png
  papers/zachary_delrosario/verb-classes-bw.png
Labels: ready, paper

#686 Paper: The Geoscience Community Analysis Toolkit: An Open Development, Community Driven Toolkit in the Scientific Python Ecosystem
  papers/orhan_eroglu/00_geocat.rst
  papers/orhan_eroglu/figures/fig1_coretech.png
  papers/orhan_eroglu/figures/fig2_badges.png
  papers/orhan_eroglu/figures/fig3_rtd.png
  papers/orhan_eroglu/figures/fig4_structure.png
  papers/orhan_eroglu/figures/fig5_cmap.png
  papers/orhan_eroglu/figures/fig6_viz.png
  papers/orhan_eroglu/figures/fig7_mpas.png
  papers/orhan_eroglu/figures/fig8_raijin.png
  papers/orhan_eroglu/references.bib
Labels: ready, paper

#688 Paper: Keeping your Jupyter notebook code quality bar high (and production ready) with Ploomber
  papers/ido_michael/_static/workshop.svg
  papers/ido_michael/images/build-output.png
  papers/ido_michael/images/executed-pipeline.png
  papers/ido_michael/images/lab-open-with-notebook.png
  papers/ido_michael/images/new-task-attached.png
  papers/ido_michael/images/new-task.png
  papers/ido_michael/images/parallel-tasks.png
  papers/ido_michael/images/pipeline-diagram.png
  papers/ido_michael/images/pipeline-step-2.png
  papers/ido_michael/images/post-build-artifacts.png
  papers/ido_michael/images/reload-file.png
  papers/ido_michael/images/status-output.png
  papers/ido_michael/index.rst
Labels: ready, paper

#714 Paper: pyDAMPF HV Guzman
  papers/pyDAMPF_HVGuzman/casoa.png
  papers/pyDAMPF_HVGuzman/casob.png
  papers/pyDAMPF_HVGuzman/casoc.png
  papers/pyDAMPF_HVGuzman/casod.png
  papers/pyDAMPF_HVGuzman/fig2aHR3.png
  papers/pyDAMPF_HVGuzman/fig2bHR3.png
  papers/pyDAMPF_HVGuzman/fig2cHR3.png
  papers/pyDAMPF_HVGuzman/fig2dHR3.png
  papers/pyDAMPF_HVGuzman/fig3a.png
  papers/pyDAMPF_HVGuzman/fig3b.png
  papers/pyDAMPF_HVGuzman/fig3c.png
  papers/pyDAMPF_HVGuzman/fig3d.png
  papers/pyDAMPF_HVGuzman/fig4aHR3.png
  papers/pyDAMPF_HVGuzman/fig4bHR3.png
  papers/pyDAMPF_HVGuzman/fig4cHR3.png
  papers/pyDAMPF_HVGuzman/fig4dHR3.png
  papers/pyDAMPF_HVGuzman/fig5cutCOMPLETEHR3.png
  papers/pyDAMPF_HVGuzman/fig6HR0.png
  papers/pyDAMPF_HVGuzman/fig6HR0_1.png
  papers/pyDAMPF_HVGuzman/fig6HR3.png
  papers/pyDAMPF_HVGuzman/fig6HR3_1.png
  papers/pyDAMPF_HVGuzman/fig7serialvsparalelo1.png
  papers/pyDAMPF_HVGuzman/fig7speedblox.jpg
  papers/pyDAMPF_HVGuzman/fig7speedblox.png
  papers/pyDAMPF_HVGuzman/pyDAMPF.rst
  papers/pyDAMPF_HVGuzman/references.bib
  papers/pyDAMPF_HVGuzman/tab1.png
  papers/pyDAMPF_HVGuzman/tab2.png
  papers/pyDAMPF_HVGuzman/tab3.png
Labels: ready, paper

#695 Paper: Variational Autoencoders For Semi-Supervised Deep Metric Learning
  papers/safir_zain_22/figs/alg_base.PNG
  papers/safir_zain_22/figs/alg_claim1.PNG
  papers/safir_zain_22/figs/alg_claim2.PNG
  papers/safir_zain_22/figs/alg_claim3.PNG
  papers/safir_zain_22/figs/alg_monte_carlo.PNG
  papers/safir_zain_22/figs/claim_1_medmnist.PNG
  papers/safir_zain_22/figs/claim_1_mnist.PNG
  papers/safir_zain_22/figs/claim_2_ls.PNG
  papers/safir_zain_22/figs/claim_2_table.PNG
  papers/safir_zain_22/figs/claim_3_graph.PNG
  papers/safir_zain_22/figs/claim_3_table.PNG
  papers/safir_zain_22/figs/comparison_architectures.PNG
  papers/safir_zain_22/figs/cropped_datasets.png
  papers/safir_zain_22/main.rst
  papers/safir_zain_22/refs.bib
Labels: ready, paper

#720 Paper: Python vs. the pandemic
  papers/cliff_kerr/fig_array.png
  papers/cliff_kerr/fig_example.png
  papers/cliff_kerr/fig_modes.png
  papers/cliff_kerr/fig_perf.png
  papers/cliff_kerr/fig_releases.png
  papers/cliff_kerr/fig_sciris.png
  papers/cliff_kerr/fig_seir.png
  papers/cliff_kerr/fig_worldmap.png
  papers/cliff_kerr/mybib.bib
  papers/cliff_kerr/python_pandemic.rst
Labels: ready, paper

#704 Paper: Asdf update
  papers/00_greenfield/00_greenfield.rst
  papers/00_greenfield/figure1.png
  papers/00_greenfield/figure2.png
Labels: ready, paper

#747 Poster: Analysis of genetic and climatic data of SARS-CoV-2
  presentations/posters/nadia_tahiri/SciPy_Poster_Final.pdf
  presentations/posters/nadia_tahiri/info.json
Labels: presentation

#749 Add 2022 plenary slides for Matplotlib
  presentations/tools/matplotlib/info.json
  presentations/tools/matplotlib/scipy2022-mpl-update.pdf
Labels: presentation

#750 Add slides for accessible color sequences talk.
  presentations/slides/accessible-color-sequences/accessible-color-sequences-slides.pdf
  presentations/slides/accessible-color-sequences/info.json
Labels: presentation

#751 Adding slides from my talk about Monte Carlo neutronics
  presentations/slides/MCNeutronTransport_JacksonMorgan/MCNeutronTransport_SciPy2022_JacksonMorgan.pdf
  presentations/slides/MCNeutronTransport_JacksonMorgan/info.json
Labels: presentation

#754 pyampute presentation slides
  presentations/slides/pyampute/info.json
  presentations/slides/pyampute/pyampute_ SciPy22.pdf
  presentations/slides/pyampute/pyampute_ SciPy22.pptx
Labels: presentation

#756 mmodel scipy 2022 poster
  presentations/slides/mmodel/info.json
  presentations/slides/mmodel/mmodel-scipy2022.pdf
Labels: presentation

#758 Add slides for SciPy (QMC, sampling) talk
  presentations/slides/scipy/info.json
  presentations/slides/scipy/scipy_qmc_samping.pdf
Labels: presentation

#759 talk: Add Feickert SciPy 2022 lightning talk and information
  presentations/lightning/feickert-analysis-as-applications/feickert-lightning-talk-scipy-2022.pdf
  presentations/lightning/feickert-analysis-as-applications/info.json
Labels: presentation

#760 Poster: `Contributing to Open Source Software: From not knowing Python to becoming a Spyder core developer`
  presentations/posters/155_althviz/155_althviz.pdf
  presentations/posters/155_althviz/info.json
Labels: presentation

#761 Lightning Talk on Downsampling with Triangles
  presentations/lightning/Delaina M Triangles/Delaina M Lightning Talk.pptx
  presentations/lightning/Delaina M Triangles/info.json
Labels: presentation

#762 Poster: Design of a Scientific Data Analysis Support Platform
  presentations/posters/nathan_martindale/info.json
  presentations/posters/nathan_martindale/nathan_martindale_poster.pdf
Labels: presentation

#767 Poster: Opening ARM: A pivot to community software to meet the needs of users and stakeholders of the planet’s largest cloud observatory
  presentations/posters/opening_arm/info.json
  presentations/posters/opening_arm/opening_arm_2022.pdf
Labels: presentation

#768 Slides and live demo notebooks for monaco talk
  presentations/slides/monaco_monte_carlo/baseball.ipynb
  presentations/slides/monaco_monte_carlo/baseball.jpg
  presentations/slides/monaco_monte_carlo/baseball_fcns.py
  presentations/slides/monaco_monte_carlo/dice_roll.ipynb
  presentations/slides/monaco_monte_carlo/info.json
  presentations/slides/monaco_monte_carlo/monaco-scipy-2022.pdf
  presentations/slides/monaco_monte_carlo/val_var_case_architecture.png
Labels: presentation

#769 Slides for talk "Petabyte-scale ocean data analytics..."
  presentations/slides/tom-nicholas/hero-calc.pdf
  presentations/slides/tom-nicholas/info.json
Labels: presentation

#772 Add the slides for the update on NumPy at SciPy'22
  presentations/tools/numpy/SciPy'22 – NumPy annual update – Inessa Pawson.pdf
  presentations/tools/numpy/info.json
Labels: presentation

#773 Add the slides for the CEL team intro at SciPy'22
  SciPy'22 – CEL team – Inessa Pawson.pdf
  presentations/tools/cel-team/info.json
Labels: presentation

#774 Kiwi tool : Redo
  presentations/posters/kiwi_tool/Kiwi_Poster_NP.pdf
  presentations/posters/kiwi_tool/info.json
Labels: presentation

#775 Add Submission 125 Poster
  presentations/posters/125_haberland/125_haberland.pdf
  presentations/posters/125_haberland/info.json
Labels: presentation

#684 Paper: Global optimization software library for research and education
  papers/nadiakap/mypaper.rst
Labels: pending-comment, paper

#719 Paper: A New Python API for Webots Robotic Simulations
  papers/justin_fisher/justin_fisher.rst
Labels: pending-comment, paper
